<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring AWS Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <span class="navbar-brand mb-0 h1 font-weight-bold">Spring AWS Blog</span>
            <a href="/newpost" class="btn btn-sm btn-success text-white font-weight-bold" role="button">Novo Post</a>
        </nav>
    </header>

    <section>
        <div class="container pb-3" style="width: 60%;">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb pl-0 bg-white">
                    <li class="breadcrumb-item active" aria-current="page">Posts</li>
                </ol>
            </nav>

            <div class="card shadow-sm bg-white rounded mt-3" th:each="post : ${posts}">
                <div class="card-body">
                    <p class="card-subtitle mb-2 text-muted" style="font-size: 0.8rem;">
                        <span th:text="${post.autor}"></span>
                        <span th:text="${post.data}"></span>
                    </p>
                    <a th:href="${(#mvc.url('PC#getPostDetails').arg(0, post.id)).build()}" class="card-link text-dark">
                        <h4 class="card-title font-weight-bold text-dark pt-1">
                            <span th:text="${post.titulo}"></span>
                        </h4>
                    </a>
                    <p class="card-text text-justify">
                        <span th:utext="${#strings.abbreviate(post.texto, 300)}"></span>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
</body>
</html>