<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring AWS Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <span class="navbar-brand mb-0 h1 font-weight-bold">Spring AWS Blog</span>
        </nav>
    </header>

    <main>
        <div class="container pb-3" style="width: 60%;">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb pl-0 bg-white">
                    <li class="breadcrumb-item" aria-current="page"><a href="/posts">Posts</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><span th:text="${post.titulo}"></span></li>
                </ol>
            </nav>

            <article>
                <h1 class="card-title font-weight-bold mb-2"><span th:text="${post.titulo}"></span></h1>
                <p class="card-subtitle mb-2 text-muted">
                    <i class="material-icons">person_outline</i>
                    <span th:text="${post.autor}"></span>
                    <br>
                    <i class="material-icons">date_range</i>
                    <span th:text="${post.data}"></span>
                </p>

                <section>
                    <p class="card-text mt-3 text-justify">
                        <span th:utext="${post.texto}"></span>
                    </p>
                </section>
            </article>

        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
</body>
</html>